<div class="content">
  <div class="carousel pad-20">
    <mat-card>
    <img [src]="images[currentImage]" alt="Carousel image">
      <h1 class="fonts header-h1">WOOBOO</h1>
    </mat-card>
  </div>

  <div class="content-left pad-20">
  <mat-card class="col-1 pad-20">
    <mat-card-title>
      Hoodies
    </mat-card-title>
  </mat-card>
    <div class="row-2">
        <mat-card class="blue pad-20 img-1">
          <mat-card-title>
            Taschen
          </mat-card-title>
          </mat-card>
          <mat-card class="green pad-20 img-2">
            <mat-card-title>
              Schmuck
            </mat-card-title>
          </mat-card>
    </div>
  </div>
</div>
